/* CSS declarations go here */
@import '{zurb:foundation-sites}/scss/foundation';

@include foundation-everything;
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

body {
  font-family: sans-serif;
  //background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=origxorig:format=jpg/path/s7ffd8944362d0bf7/image/id48e7a1e20aae72e/version/1436428665/image.jpg");

  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
.contenedor {
  background-color: #DCD0FF;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;

}



#login-buttons {
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;

  background: none;
  font-size: 2em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.cantidad {
  width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}

.todos, .super, .fruteria, .panaderia, .congelados, .otros, .crear {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    //transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;

    border-bottom: #7580ac;
    border-right: #7580ac;

}

.todos {
  background-color: rgba(156, 156, 156, 0.60);
  border: 5px solid #9c9c9c;
}

.super {
  background-color: rgba(254, 92, 6, 0.60);
  border: 5px solid  #FE5C06;
}

.fruteria {
  background-color: rgba(28, 233, 188, 0.60);
  border: 5px solid  #1CE9BC;
}

.panaderia {
  background-color: rgba(219, 164, 4, 0.60);
  border: 5px solid  #DBA404;
}

.congelados {
  background-color:  rgba(51, 162, 255, 0.60);
  border: 5px solid   #33A2FF;
}

.otros {
  background-color:rgba(147, 6, 6, 0.60);
  border: 5px solid  #930606;
}

.select, .cantidadInput, .producto {
  margin:0 !important;
}





#Super {
  background-color: rgba(254, 92, 6, 0.60);
  border: 5px solid  #FE5C06;
}
#Fruteria {
  background-color: rgba(28, 233, 188, 0.60);
  border: 5px solid  #1CE9BC;

}
#Congelados {
  background-color:  rgba(51, 162, 255, 0.60);
  border: 5px solid   #33A2FF;
}
#Panaderia {
  background-color: rgba(219, 164, 4, 0.60);
  border: 5px solid  #DBA404;
}
#Otros {
  background-color:rgba(147, 6, 6, 0.60);
  border: 5px solid  #930606;
}

.checked {
  background-color: rgba(156, 156, 156, 0.60) !important;
  border: 5px solid #9c9c9c !important;
}

.usrName {
  margin-right: 1rem;
}



.tipoText {

  margin-right: auto;
}

.addOrDelet {
  margin-right:  3em;
  float: right;
}
.header-init {
  padding-left: 100%;
  padding-top: 4rem;

}

.login-button {
  background-color: white;
  //padding
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  size: 1.5em !important;



}
.header-init, .titulo, .esconderLista {
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=origxorig:format=jpg/path/s7ffd8944362d0bf7/image/id48e7a1e20aae72e/version/1436428665/image.jpg");

}
.titulo {

  padding-top: 4rem;
  padding-bottom: 2rem;
  color: white;
}

.new-list {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.input-radius {
  border: 2px solid rgb(82, 86, 89);
}

.crear {
  border: 2px solid rgb(82, 86, 89);
  background-color: white;
}

.style-crear {
  background-color: rgb(82, 86, 89) !important;
  color: black;
}

#esconder-compra {
  size:2em;
  color: white;
}

.checkBox-style {
  margin-top: 3em;
  margin-bottom: 3em;
}

.redirigir{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  color: white;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgb(82, 86, 89);
  //transition: background-color 0.25s ease-out, color 0.25s ease-out;
  float:right;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;

  border-bottom: #7580ac;
  border-right: #7580ac;

}

.styleList {
  //padding-top: 4rem;
  margin-top: 3rem;
  background-color: white;

}


.listas-compra{
  /* display: inline-block; */
  /* margin-right: 0 !important; */
  vertical-align: middle;
  /* width: 100%; */
  margin-bottom: 1em;
  /* margin: 0 0 1rem 0; */
  padding: 0.85em 1em;
  padding-right: 0;
  padding-left: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  /* border-radius: 0; */
  /* font-size: 0.9rem; */
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border-bottom: #7580ac;
  border-right: #7580ac;
}

.box {
  background-color: white;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-align: right;
      border: 2px solid;
      margin-right: 0.5em;
      margin-top: 0em;
}
.toggle-checked {
  /* height: 2em; */
  margin-top: 0.7em;
  margin-bottom: 0 !important;
}

.normal-text {
  text-align: left;
}
.toggle-add, .toggle-delete {
  margin-top: 1em;
  size: 2em;
}

.number-kg-unidad {
  text-align:center !important;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.5em;
}

.hidenCheckbox {
  margin-top: 1em;
  margin-bottom: 2em;
}

.tituloListPage {
  margin-top: 0.5em;
  color: white;
  margin-right: 0em;
}
